@font-face{
	font-family: game_font;
	src:url('https://www.diunsa.net/recursos/fonts/Dusha_-_FIFA_World_Cup_2018.ttf');
}
#canvas{
	display:block;
	margin:auto;
	position:absolute;
	left: 0;
	right: 0;
}
#canvasBg{
	display:block;
	margin:auto;
	position:absolute;
	left: 0;
	right: 0;
}
