@font-face{
	font-family: game_font;
	src:url('https://www.diunsa.net/recursos/fonts/Dusha_-_FIFA_World_Cup_2018.ttf');
}
html, body {
    overflow: hidden;
    margin:0;
}

#canvas{
	display:block;
	margin:auto;
	position:absolute;
	left: 0;
	right: 0;
}
#canvasBg{
	display:block;
	margin:auto;
	position:absolute;
	left: 0;
	right: 0;
}
#input_canvas{
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;

 }